*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    padding: 60px 0px;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.title {
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/*tricks on the header*/
header {
width: 100%;
height: 600px;
background: #bc4e9c;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, hsla(340, 95%, 50%, 0.341), hsla(317, 45%, 52%, 0.42)), url(./imgs/header-pic1.png);  
/* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, hsla(340, 95%, 50%, 0.341), hsla(317, 45%, 52%, 0.42)), url(./imgs/header-pic1.png); 
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-size: cover;
background-attachment: fixed;
position: relative;
 }

 nav {
     text-align: right;
     padding: 30px 50px 0 0;
    }
    nav > a{
     color: white;   
     font-weight: 300;
     text-decoration: none;
     margin-right: 10px;
    }
    nav > a:hover{
        text-decoration: underline;
    }

    header .text-header{
        display: flex;
        height: 430px;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .text-header h1{
        font-size: 50px;
        color: white;
    }
    .text-header h2{
        font-size: 30px;
        font-weight: 300;
        color: white;
    }

    /*About us*/
    main .acerca-de{
        padding: 30px 0 60px 0;
    }
.container-acerca-de{
    display: flex;
    justify-content: space-evenly;
    }



    .wave{
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .image-about-us{
        width: 48%;
    }
     
    .acerca-de .content-text{
        width: 48%; 
     } 


   .content-text h3{
       margin-bottom: 15px;
}

.content-text h3 span{
    background: #4d0686;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.content-text p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/*galery*/
.portafolio{
    background: #f2f2f2;
}

.galery-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.images-port{
    width: 24%;
    margin-bottom: 10px;
    height: 180px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, .5);
}
.images-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galery {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsl(273, 91%, 21%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galery img{
    width: 50px;
}

.hover-galery p{
    color: #fff;
}
.images-port:hover .hover-galery{
    transform: scale(0);
}

/*clientes*/
.cards {
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background: #4d0686;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid white;
    border-radius: 50%;
    display: block;
}

.cards .card > .content-text-card{
    width: 60%;
    color: #fff;
}

.cards .card > .content-text-card p{
    font-weight: 300;
    padding-top: 5px;
}

.about-services{
    background: #f2f2f2;
    padding-bottom: 30px;
}

.servicios-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servivios-ind{
    width: 28%;
    text-align: center;
}

.servicios-ind img{
    width: 90%;
}

.servivios-ind h3{
    margin: 10px 0;
}


servivios-ind p{
    font-weight: 300;
    text-align: justify;
}

/*footer*/

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.container-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foot{
    text-align: center;
}

.content-foot h4{
   color: #fff;
   border-bottom: 3px solid #af20d3;
   padding-bottom: 5px;
   margin-bottom: 10px;
}

.content-foot p{
    color: #ccc;
}

.final-title{
   text-align: center;
   font-size: 24px;
   margin: 20px 0 0 0;
   color: #9e9797
}
@media screen and (max-width: 900px) {
    header{
        background-position: center;
    }
    .container-acerca-de{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .acerca-de .content-text{
        width: 90%;
    }
    
    .image-about-us{
        width: 90%;
    }
     /*galery*/
     .images-port{
         width: 44%;
     }
     /*clients*/
     .cards{
         flex-direction: column;
         justify-content: center;
         align-items: center;
     }
     .cards .card {
         width: 90%;
     }

     .cards .card:first-child {
        margin-bottom: 30px;
    }
    .servicios-cont{
        justify-content: center;
        flex-direction: column;
    }
    .servicios-ind{
        width: 100%;
        text-align: center;
    }
    .servicios-ind:nth-child(1), .servicios-ind:nth-child(2){
        margin-bottom: 60px;
    }
    .servicios-ind img{
        width: 90%;
    }
}

@media screen and (max-width: 500px){
    nav {
        text-align: center;
        padding: 30px 0 0 0;
    }
    nav >a{
        margin-right: 5px;
    }
    .text-header h1{
        font-size: 35px;
    }
    .text-header h2{
        font-size: 20px;
    }
    /*about us*/
    .image-about-us{
        margin-bottom: 60px;
        width: 99%;
    }
    .about-services .content-text{
        width: 95%;
    }
    /*galery*/
    .images-port{
        width: 99%;
    }

    /*clients*/
    .cards .card{
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cards .card img{
        width: 90px;
        height: 90px;
    }

    /*footer*/
    .container-footer{
        flex-direction: column;
        border: none;
    }
    .content-foot{
        margin-bottom: 20px;
        text-align: center;
    }
    .content-foot h4{
        border: none;
    }

    .content-foot p{
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }
    .final-title{
        font-size: 30px;

    }
}
